@charset "UTF-8";
.wd {
    width: 1202px;
}
/*------------------------------------header start------------------------------------*/
.header h1{
    font-size: 24px;
    padding: 34px 12px;
}
.header .nav ul li{
    margin:42px 36px 0 0;
}
.header .nav ul li a{
    font-size: 18px;
    font-family: Courier;
    color: #000;
    letter-spacing: 1px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.header .nav ul li:hover a{
    color: #cccccc;
}
/*------------------------------------header end------------------------------------*/
/*------------------------------------banner start------------------------------------*/
.banner {
    overflow: hidden;
}
.banner:hover .banner-text{
    top: 34%;
}
.banner img{
    width: 100%;
    margin-bottom: 68px;
}
.banner .banner-text{
    top: -500px;
    text-align: center;
    left: 32%;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.banner .banner-text h2{
    font-size: 36px;
    padding-bottom: 10px;
    letter-spacing: 1px;
}
.banner .banner-text p{
    font-size: 14px;
    color: #6c7279;
    letter-spacing: 3px;
}
/*------------------------------------banner end------------------------------------*/
/*------------------------------------box start------------------------------------*/
.box{
    background: #f2f2f2;
    margin-bottom: 68px;
}
.box .left,.box .right{
    width: 50%;
}
.box .left{
    padding-bottom: 170px;
}
.box .left h2{
    font-size: 38px;
    font-weight: 100;
    font-family: serif;
    padding: 154px 0 30px 20px;
}
.box .left p{
    font-size: 12px;
    width: 512px;
    line-height: 24px;
    padding-left: 20px;
    color: #ccc;
}
.box .right h3{
    font-size: 20px;
    padding: 164px 0 28px 63px;
    font-family: serif;
    font-weight: 100;
}
.box .right a{
    font-size: 14px;
    display: block;
    margin: 0 0 32px 63px;
    color: #ccc;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.box .right ul li{
    margin-left: 48px;
}
.box .right a:hover{
    color: #020202;
}
/*------------------------------------box end------------------------------------*/
/*------------------------------------main start------------------------------------*/
.main ul li{
    width: 50%;
}
.main ul li img{
    width: 100%;
}
.main ul li:hover .text{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.main ul li .text{
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(10,10,10,.7);
    text-align: center;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.main ul li .text h3{
    font-size: 24px;
    font-weight: 100;
    font-family: serif;
    color: #fff;
    padding:34% 0 10px 0;
    letter-spacing: 2px;
}
.main ul li .text p{
    color: #fff;
    letter-spacing: 1px;
}
/*------------------------------------main end------------------------------------*/
/*------------------------------------contact start------------------------------------*/
.contact{
   padding-bottom: 140px;
}
.contact div{
    height: 324px;
    width: 1202px;
    position: relative;
    overflow: hidden;
    top: 68px;
}
.contact ul li{
    width: 100%;
    height: 100%;
    position: absolute;
    left: -1202px;
    background: #333333;
    text-align: center;
}
.contact ul li p{
    color: #fff;
    font-size: 16px;
    width: 680px;
    display: block;
    margin: 0 auto;
    line-height: 34px;
    letter-spacing: 3px;
    padding: 108px 0 0 0;
}
.contact ul li small{
    line-height: 90px;
    color: #cccccc;
}
.contact ul  li:first-of-type{
    animation: contact1 25s infinite linear;
}
.contact ul li:nth-of-type(2){
    animation: contact2 25s infinite linear;
}
.contact ul li:nth-of-type(3){
    animation: contact3 25s infinite linear;
}
.contact ul li:nth-of-type(4){
    animation: contact4 25s infinite linear;
}
.contact ul li:last-of-type{
    animation: contact5 25s infinite linear;
}
@keyframes contact1 {
    0%,16%{left: 0}
    20%{left: 1202px}
    21%,96%{left: -1202px}
    100%{left: 0}
}
@keyframes contact2 {
    0%,16%{left: -1202px}
    20%,36%{left: 0}
    40% {left: 1202px}
    41%,100%{left: -1202px}
}
@keyframes contact3 {
    0%,36%{left: -1202px}
    40%,56%{left: 0}
    60%{left: 1202px}
    61%,100%{left: -1202px}
}
@keyframes contact4 {
    0%,56%{left: -1202px}
    60%,76%{left: 0}
    80%{left: 1202px}
    81%,100%{left: -1202px}
}
@keyframes contact5 {
    0%,76%{left: -1202px }
    80%,96%{left: 0}
    100%{left: 1202px}
}
.contact ul:hover li{
    animation-play-state: paused;
}
/*------------------------------------contact end------------------------------------*/
/*------------------------------------footer start------------------------------------*/
.footer {
    padding-bottom: 68px;
}
.footer ul li{
    margin-left: 68px;
}
.footer ul li:last-of-type p{
    padding-top: 24px;
}
.footer h5{
    font-size: 18px;
    font-family: serif;
    font-weight: 100;
    padding-bottom: 18px;
}
.footer p{
    font-size: 12px;
    line-height: 24px;
}
/*------------------------------------footer end------------------------------------*/